@font-face{
    font-family: arapey;
    src: url(font/ArapeyRegular-X2Md.ttf) format('truetype') ;
    font-family: bensen;
    src: url(font/BenSen.ttf) format('truetype') ;
/*    font-family: comingsoon;
    src: url(font/ComingSoon-Regular.ttf) format('truetype') ;
    font-family: ichamoti;
    src: url(font/Li-Alinur-Ichamati-Unicode.ttf) format('truetype') ;
    font-family: honeybee ;
    src: url(font/HoneybeePersonalUseRegular-YzBn4.ttf);
    font-family: ;
    src: url(font/);
    font-family: ;
    src: url(font/);
    font-family: ;
    src: url(font/); */
    font-family: hindi-siliguri ;
    src: url(font/HindSiliguri-Regular.ttf) format('truetype');
    font-family: wishper;
    src: url(font/Whisper-Regular.ttf);
}
@import url('fontcss/englishfont-arapey1.css');
@import url('fontcss/banglafont-bensen1.css');
@import url('fontcss/ichamoti-uni-bangla.css');
@import url('fontcss/hindi-siliguri-regular-bangla-font.css');
@import url('fontcss/english-whisper-regular.css');
@import url('fontcss/bangla-uni-Deyalika.css');
body {
      background: #0e012f;
      color: white;
      font-size: ;
      margin: ;
      padding-left: 3%;
      padding-right: 3%;
      padding-top: %;
      padding-bottom: %;
  }

  
a {
    color: white;
    font-weight: bold;
  }
#color:hover {
    transition: color .9s;
    color: purple;
    }
a:visited{
    color: orange;
}

p {
    color: white;
    
}

h1{
    color: #ffffff;
    text-align: center;
}
h2{
    
    font-family: arapey;
}
h3 {
     text-align: center;
     color: brown;
 }
 
div { 
    padding: 4%;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    
    
}


img{
    width: 70%;
    height: 70%;
}

hr{
    height: 2px; 
    background-color: white; 
    border: none;
    
}

footer{
    font-family: arapey;
    text-align: center;
    width: 100%;
    bottom: 0px;
    padding-top: 8px;
    
    }
