@font-face{
    font-family: bensen;
    src: url(font/BenSen.ttf) format('truetype') ;
    font-family: comingsoon;
    src: url(font/ComingSoon-Regular.ttf) format('truetype') ;
    font-family: arapey;
    src: url(font/ArapeyRegular-X2Md.ttf) format('truetype') ;
    font-family: ;
    src: url(font/) format('truetype') ;

}



body {
      background: black;
      color: white;
      font-size: 16px;
      margin: 10px;
      padding-left: 5%;
      padding-right: 4%;
      padding-top: 3%;
      padding-bottom: 3%;
  }

  
a {
    color: red;      
  }
a:visited{
    color: orange;
}
p {
    color: white;
    
}

h1{
    color: #ffffff;
    text-align: center;
}
h3 {
     text-align: center;
     color: brown;
 }
 
div {    
    padding: 5%;
    color: white;
    margin: 3px;
    
    
}
img{
    align-items: center;
    width: 70%;
    height: 70%;
    padding: 20%;
}
