@font-face{
    font-family: bensen;
    src: url(../font/BenSen.ttf) format('truetype') ;
}
@import url('englishfont-arapey1.css');
body {
    font-family: "bensen", arapey;
    font-size: 20px;
}
article {
    font-size: 20px;
}
div{
    font-size: 18px;
}
